@import '~semantic-ui-css/semantic.css';

div.ui.stackable.selection.list.menu > div.brand {
    padding-right: 1em;
    background-color: #111;
    
    a {
        font-weight: bold;
        color: #fff;
    }
}

// Don't show ribbon on small screens
@media screen and (max-width: 700px) { 
    .github-fork-ribbon { 
        display: none !important; 
    } 
}